.page {
  font-family: Arial, sans-serif;
  min-height: 80vh;
  margin-top: 70px;
  background: linear-gradient(to right, #667eea, #764ba2);
  color: white;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background: white;
  color: black;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

#photo {
  width: 50px;
}

#par {
  font-size: 20px;
  font-weight: bold;
}

.menu-btn {
  background: #667eea;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
 
}
.backbutton{
  
  background-color: #667eea;
  margin-left: 500px;
}
.backbutton:hover{
  background: #764ba2;
}

.menu-btn:hover {
  background: #764ba2;
}


.dropdown {
  background: white;
  color: black;
  width: 200px;
  margin: 10px 20px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  animation: fadeIn 0.3s ease;
}

.grade-item {
  padding: 8px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
  
}

.grade-item:hover {
  background: #667eea;
  color: white;
}

.grade-item.active {
  background: #764ba2;
  color: white;
}

.content {
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background: white;
  color: black;
  border-radius: 10px;
  overflow: hidden;
}

th {
  background: #667eea;
  color: white;
  padding: 10px;
}

td {
  padding: 10px;
  text-align: center;
}

tr:nth-child(even) {
  background: #f2f2f2;
}

.choose-text {
  margin-top: 100px;
}


@keyframes fadeIn {
  from {opacity: 0; transform: translateY(-10px);}
  to {opacity: 1; transform: translateY(0);}
}
