#formid {
    position: fixed;       
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #1e3a8a;
    padding: 0 20px;
    color: white;
    z-index: 1000;
}

#photo {
    width: 45px;
    height: 45px;
    object-fit: contain;
}

#par {
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
    white-space: nowrap;
}

#search {
    padding: 6px 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    width: 200px;
}


.button {
    margin-left: 10px;
    padding: 7px 15px;
    border: none;
    border-radius: 5px;
    background-color: #facc15;
    color: #1e3a8a;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.button:hover {
    background-color: #fde047;
}


body {
    padding-top: 70px;
}

#footer {
    position: fixed;     
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;

    display: flex;              
    flex-direction: column;    
    align-items: center;        
    justify-content: center;    
    background-color: #1e3a8a;  
    color: white;
}



#footer p {
    margin: 0;
    font-size: 14px;
    text-align: center;
}

#footer .footer-links a {
    margin-left: 15px;
    color: #facc15;   
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
    margin-top: 100px;
    
    
}

#footer .footer-links a:hover {
    color: #fde047;
}


body {
    padding-top: 70px;    
    padding-bottom: 70px;  
}


